body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #e67e22;
    font-size: 14px;
    vertical-align:middle;
    height: 100vh;
    
}

